
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/about.css" />
    <link rel="stylesheet" href="..//plugins/bootstrap-3.4.1/css/bootstrap.css">
</head>
<body>

<!--Top Menu Bar
<div class="wrapper">
    <nav class="flex-nav">
  <ul class="nav nav-pills">
  <li role="presentation"><a href="./index.html">The Preloved Portal</a></li>
  <li role="presentation" ><a href="./HomePage.html">Home Page</a></li>
  <li role="presentation"><a href="signin.html/">Log in</a></li>
  <li role="presentation"><a href="./signup.html">Register</a></li>
  </ul>
        </nav>
</div>
-->
<!--About us-->

<div class="information">
    <h1>The Preloved Portal</h1>
    <div class="information-1">
        <div class="information-2">
        <img src="https://images.unsplash.com/photo-1672302255324-28009cc288b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fGFldTZyTC1qNmV3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=900&q=60" width="200" height="250" alt="image_description">
       <img src="https://johnlewis.scene7.com/is/image/JohnLewis/hg-royal-doulton-block-130323?$cms-max-image-threshold$&wid=1200&fit=hfit,1" width="200" height="250" alt="image_description">
<img src="https://johnlewis.scene7.com/is/image/JohnLewis/livingroom-cushions-block-080223?$cms-max-image-threshold$&wid=1200&fit=hfit,1" width="200" height="250" alt="image_description">
        </div>
                <div class="information-3">In order to bring out the greater value of second-hand
                items,we have designed the second-hand trading platform,
                which is mainly used to deal with the trading of various
                second-hand items that are idle in people's daily lives, and this
                platform also provides people with a great demand for new
                items.
                Buyers can buy needed and cheap items through this
                platform, and sellers can sell some second-hand items they
                can't use at low prices in this platform, which is more widely
                used</div>
    </div>
</div>
</body>
</html>

