{% extends "rangoMarket/base.html" %}

{% block body_block %}
    <h2>{{ item.title }}</h2>
    <p>Seller: {{ item.seller.username }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Price: {{ item.price }}</p>
    {% for image in item.images.all %}
    <img src="{{ image.image.url }}" alt="{{ item.title }}">
    {% empty %}
    <p>No images available.</p>
    {% endfor %}
{#    {% if item.image %}#}
{#    <img src="{{ item.image.url }}" alt="{{ item.title }}">#}
{#    {% endif %}#}
    <p>Posted on: {{ item.created_at|date:"F j, Y, P" }}</p>
{% endblock %}
