.order-details-container {
position: relative;
width:800px;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right:auto;
    margin-left:auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
}
.order-details-container img {
    max-width: 50%;
    margin-right: 20px;
    border-radius: 5px;
}
.order-details-container p {
    margin-bottom: 10px;
    font-size:20px;
}
.order-image {
    width: 230px;
    height: 300px;
    padding:30px;
}
.order-details-container .buttons-container {
    position: absolute; /* 添加绝对定位 */
    bottom: 0; /* 按钮容器的底部与父元素底部对齐 */
    left: 50%; /* 按钮容器的左侧与父元素中心对齐 */
    transform: translateX(-50%); /* 按钮容器的左侧向左平移自身宽度的一半 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 按钮容器宽度为父元素的宽度 */
    padding: 20px 0; /* 上下各添加 20px 的内边距 */
}

.order-details-container .buttons-container button {
    margin: 0 10px; /* 按钮之间添加 10px 的水平间距 */
}